.portfolio__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.portfolio__item{
  background: rgb(7, 8, 16, 0.5);
  padding: 1.2rem;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover{
  background: rgb(7, 8, 16, 0.4);
}

.portfolio__item-image{
  border-radius: 8px;
  overflow: hidden;
  min-height: 16rem;

  @media (max-width: 768px) {
    min-height: 10rem;
  }
}

.portfolio__item h3{
  margin: 1.3rem 0 2rem;
  font-weight: 300;
}

.portfolio__item-cta{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.portfolio__item-cta a{
  width: 100%;
  text-align: center;
}

.more-projects h2{
  color: var(--color-primary);
  text-align: center;
  margin: 3rem 0;
}

/* ======== Media querys =========== */
@media screen and (max-width: 1024px) {
  .portfolio__container{
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}