header{
  height: 100vh;
  padding-top: 4rem;
  overflow: hidden;
  background-color: black;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url(../../assets/bg-header.jpg);
}

.bgicon{
  width: 25rem;
  position: absolute;
  top: 1rem;
  right: 0;
}

.fadeImg {
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {left:-15rem;}
  100%  {left:0;}
}

.header__container{
  text-align: center;
  height: 100%;
  position: relative;
}

/* ============== CTA ============= */
.cta{
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============== Header Socials ============= */
.header__socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after{
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ============== Header ME ============= */
.me{
  background: linear-gradient(var(--color-primary), transparent);
  border-radius: 11rem 2rem 10rem 2rem;
  /* width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem; */
  position: absolute;
  margin-top: -6rem;
}

/* ============== Scroll down ============= */
.scroll__down{
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ======== Media querys =========== */
@media screen and (max-width: 1024px) {
  header{
    height: 68vh;
  }

  .bgicon{
    width: 10rem;
  }
}

@media screen and (max-width: 600px) {
  header{
    height: 100vh;
  }

  .header__container h1{
    font-size: 1.5rem;
  }

  .header__socials,
  .scroll__down{
    display: none;
  }

  .bgicon{
    width: 9rem;
  }

  .me{
    padding: 0;
    margin: 0;
    bottom: 20%;
  }

  .me img{
    width: 65%;
    margin: 0 auto;
  }
}