header{
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  transition: 1s;
  top: 0;
  z-index: 10;  
}

.top-header{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5%;
  //margin-bottom: 3rem;
}

.logo{
  width: 5rem;
}

.background-header > img{
  position: absolute;
  width: 100%;
  height: 100vh;
  animation-name: surgir;
  animation-duration: 4s;
}

@keyframes surgir {
  0%   {top:50vh;}
  100%  {top:7.5rem;}
}

.bgicon{
  width: 25rem;
  position: absolute;
  top: 1rem;
  right: 0;
}

.fadeImg {
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {left:-15rem;}
  100%  {left:0;}
}

.header__container{
  text-align: center;
  height: 100%;
  position: relative;
}

/* ============== CTA ============= */
.cta{
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.cta a:hover{
  transform: translateY(10px);
}

/* ============== Header Socials ============= */
.header__socials{
  display: flex;
  align-items: center;
  gap: 1rem;
  left: 0;
}

.header__socials svg{
  width: 21px;
  height: 21px;
  color: white;
  transition: 0.3s;
}

.header__socials svg:hover{
  color: var(--color-primary);
}

/* ============== Header ME ============= */
.me{
  background: linear-gradient(var(--color-primary), transparent);
  border-radius: 11rem 2rem 10rem 2rem;
  /* width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem; */
  position: absolute;
  margin-top: -6rem;
}

/* ============== Scroll down ============= */
.scroll__down{
  position: absolute;
  right: -2.3rem;
  bottom: 12rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ======== Media querys =========== */
@media screen and (max-width: 1024px) {
  .bgicon{
    width: 10rem;
  }
}

@media screen and (max-width: 600px) {
  .header__container h1{
    font-size: 1.5rem;
  }

  .top-header {
    margin-bottom: 1rem;
  }

  .logo {
    width: 4rem;
  }

  .scroll__down{
    display: none;
  }

  .bgicon{
    width: 9rem;
  }

  .me{
    padding: 0;
    margin: 0;
    bottom: 35%;
  }

  .me img{
    width: 65%;
    margin: 0 auto;
  }
}